div {
    font-family: Verdana;
}

h1 {
    font-size: 22px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #46db1d;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 16px;
    text-decoration: underline;
    color: rgb(10, 114, 188, 15, 136);
}

p {
    font-size: 14px;
    line-height: 28px;
    background-color: rgb(240, 240, 240);
}